@(books : Set[Book])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>All Books</h1>
        @for(book <- books) {
            <a href="@routes.BooksController.showBook(book.id)">@book.title</a>
            <p>Price: @book.price</p>
            <p>Author: @book.author</p>
        }
        <a href="@routes.BooksController.createBook()">Create Book</a>
    </body>
</html>